.explicit-evidences-box{
    margin: auto;
    margin-top: 50px;
    width: 1400px;
    color: white;
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    .explicit-evidence{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        border: solid white 2px; 
        border-radius: 20px;
        margin: 0px 5px 0px 5px;

        p{
            width: 200px;
            padding: 5px;
            font-style: thin;
            font-weight: 100;
            margin: 5px;

        }
        h3{ padding: 10px;
            font-weight: 500;
        margin: 5px;}
    }

}