
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,100&display=swap');

body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
}

header
{
    color:white;
    display: flex;
    justify-content: center;
    h1{
        font-size: 52px;
        font-weight: 500;
    }
}